

{% block content %}
<!-- <div class="d-none" id="aboutArea"> -->
    <div class="p-5 d-none" id="aboutContainer">
                    <!-- ABOUT IMG-->
        <div><img id="aboutPic" src="/static/about-pic.jpg" alt=""></div>
        <div class="p-5" id="aboutTextDiv"><h4 class="text-center text-highlight-1 font-mode-1" id="aboutText">
            Leah is a sound artist, improviser, and researcher pursuing sound as an interface between human and nonhuman, science and art, and sacred and profane.

From sonification of cloud radar and rhythms made from the self-organization of frog breeding choruses, to machine learning catalogs of pops and hisses from vintage stereo equipment, their work troubles the ends of science and technology in search of more-than-human sonic backwaters.

They hold degrees in electronic music and physics from Oberlin College and Conservatory, and their work has been performed at festivals around the US and in Norway. Their writing on music is published in the journal Organised Sound.

email: leah.j.bertrand AT gmail.com
        </h4></div>
    </div>
<!-- </div> -->
{% endblock %}

