{% extends 'base.html' %}

{% block content %}
            <!-- // // // // // // // // // EDIT PANEL // // // // // // // // //  -->
<div id="editPanelContainer">
    <div class="row justify-content-md-center" id="editFormContainer">
        <div class="col-md-7 col-lg-5">

          <div id="editModeButtonsContainer">
            <input type="radio" name="edit-mode" id="editMode1" value="fluid" checked="checked">
            <label for="editMode1">Fluid</label>
            <input type="radio" name="edit-mode" id="editMode2" value="windows">
            <label for="editMode1">Windows</label>
          </div>
          
    
          <form method="POST" id="editForm">
            {{ form.hidden_tag() }}
    
            {% for field in form if field.widget.input_type != 'hidden' %}
              {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
              <span>
                <p class='edit-page-label' id="{{field.label.text}}_label">{{field.label.text}}</p>
                {{ field(class="form-control", id=field.label.text, text=field.label.text) }}
            </span>
            {% endfor %}
    
            <div>
                <span>
                  <button type="submit" class="btn btn-primary btn-block btn-lg" id="submitChangesButton">  SAVE </button>
                  <button type="submit" class="btn btn-primary btn-block btn-lg" id="defaultButton">  DEFAULT  </button>
                  <a href="/" class="" id="">  GO BACK  </button>
                </span>
            </div>
          </form>
        </div>
      </div>
</div>             






            <!-- // // // // // // // // // SITE PAGE // // // // // // // // //  -->
<div id="sitePageContainer">
  <!-- Navbar -->
<div class="container d-none" id="navbarContainer">
  <ul class="nav nav-pills nav-fill ul-filter">
                  <!-- NAME -->
      <li class="nav-item active" id="nav-leah">
          <a href="/" class="nav-link fs-2 nav-name-color" id="worksNavItem">Leah Bertrand</a>
      </li>
                  <!-- WORKS -->            
      <li class="nav-item" id="worksDropdownHover">
          <a href="/#" class="nav-link fs-3 nav-text-color" id="worksNavItem">Works</a>
      </li>
                  <!-- WORKS -->            
      <li class="nav-item" id="performancesDropdownHover">
          <a href="/#" class="nav-link fs-3 nav-text-color" id="performanceNavItem">Performances</a>
      </li>
                  <!-- ABOUT -->
      <li class="nav-item">
          <a href="/about" class="nav-link fs-3 nav-text-color" id="navAbout">About</a> 
      </li>
  </ul>
</div>

<!-- Individual Works -->
<div class="d-none" id="showWorkArea">
      <div class="show-work-container " id="display-work-{{ works[0].id }}">
          <div class="d-flex show-work-flex-container">
              <div class="p-5 work-text-container">
                              <!-- WORK HEADER -->
                  <div class="p-1"><h2 class="text-center text-highlight-1 font-mode-1">{{ works[0].title }}</h2></div>
                  <div class=""><h4 class="text-center text-highlight-3 font-mode-1">{{ works[0].medium }}, {{ works[0].year }}</h4></div>
                              <!-- WORK DESCRIPTION -->
                  <p class="fs-5 text-highlight-4 font-mode-1">{{ works[0].description1 }}</p>
                               <!-- SOUNDCLOUD EMBED -->
                  {% if works[0].soundcloud_track_id %}
                  {% if works[0].soundcloud_header %}
                  <div class="p-1 text-highlight-1 font-mode-1">
                      <h4 class="text-center font-mode-1">{{ works[0].soundcloud_header }}</h3>
                  </div>
                  {% endif %}
                  <div class="embed-responsive soundcloud-container mx-auto">
                      <iframe name="soundcloudWidget" class="embed-responsive-item ml-auto d-block soundcloud-player" width="60%" height="140" scrolling="no" frameborder="yes" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ works[0].soundcloud_track_id }}&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=false&visual=true"></iframe>            
                  </div>
                  {% endif %}
              </div>
                              <!-- WORK IMAGES -->            
              <div class="p-5 show-work-img-container ">
                              <!-- WORK LEAD IMAGE -->            
                  <img class="show-work-img {{works[0].img_filter}}" src="{{works[0].image1}}" alt="">
                              <!-- WORK OPTIONAL IMAGES -->
                  {% if works[0].image2 %}
                  <img class="show-work-img show-work-img-multi {{works[0].img_filter}}" src="{{works[0].image2}}" alt="">
                  {% endif %}
                  
                  {% if works[0].image3 %}
                  <img class="show-work-img show-work-img-multi {{works[0].img_filter}}" src="{{works[0].image3}}" alt="">
                  {% endif %}
                  
                  {% if works[0].image4 %}
                  <img class="show-work-img show-work-img-multi {{works[0].img_filter}}" src="{{works[0].image4}}" alt="">
                  {% endif %}
              </div>
          </div>
      </div>
  </div>
</div>

<div id="stylesheet">
    <link rel="stylesheet" href="/static/styles/edit-page.css">
</div>


<canvas id="c"></canvas>
<script type="text/javascript" src="/static/js/fluidsim.js"></script>


<div class="img-1-clear" id="background-img-1 bg-img-all"></div>
<div class="img-2-clear" id="background-img-2 bg-img-all"></div>
<!-- <div class="img-3-clear" id="background-img-3 bg-img-all"></div> -->












<!-- PROBLEM: how to get {{ appearances }} to register in a seperate js file without async requests? -->

<!-- // // // // // // // // // SCRIPT // // // // // // // // //  --> 
<script type="text/javascript">
    const onEditPage = true;      // signals fluidsim to not prevent default on mousedown


    const showWorkArea = document.getElementById('showWorkArea');
    const navbarContainer = document.getElementById('navbarContainer');
    const editPanelContainer = document.getElementById('editPanelContainer')
    const defaultButton = document.getElementById('defaultButton');
    const fluidSim = document.getElementById('c')


    let editMode1 = document.getElementById('editMode1');
    let editMode2 = document.getElementById('editMode2');

    let valuesObj = {
        backgroundColor: '{{ appearances[0].background_color }}',
        backgroundBlur: '{{ appearances[0].background_blur }}',
        insetColor: '{{ appearances[0].inset_color }}',
        soundcloudColor: '{{ appearances[0].soundcloud_color }}',
        accentColor: '{{ appearances[0].accent_color }}',
        fluidColor1: '{{ appearances[0].fluid_color_1 }}',
        fluidColor2: '{{ appearances[0].fluid_color_2 }}',
        fluidColor3: '{{ appearances[0].fluid_color_3 }}',
        fluidColor4: '{{ appearances[0].fluid_color_4 }}',
        fluidColor5: '{{ appearances[0].fluid_color_5 }}',
        fluidHueRotate: '{{ appearances[0].fluid_hue_rotate }}',
        fluidGrayscale: '{{ appearances[0].fluid_grayscale }}',
        fluidBrightness: '{{ appearances[0].fluid_brightness }}',
        fluidBlur: '{{ appearances[0].fluid_blur }}',
        fluidOpacity: '{{ appearances[0].fluid_opacity }}',
        fluidInvert: '{{ appearances[0].fluid_invert }}'
    }

    
    let windowParamsArray = {
        backgroundColorParameter: document.getElementById('background_color'),
        backgroundBlurParameter: document.getElementById('background_blur'),
        insetColorParameter: document.getElementById('inset_color'),
        soundcloudColorParameter: document.getElementById('soundcloud_color'),
        accentColorParameter: document.getElementById('accent_color'),
    }

    let windowsParamsText = {
        backgroundColorParameter: document.getElementById('background_color_label'),
        backgroundBlurParameter: document.getElementById('background_blur_label'),
        insetColorParameter: document.getElementById('inset_color_label'),
        soundcloudColorParameter: document.getElementById('soundcloud_color_label'),
        accentColorParameter: document.getElementById('accent_color_label'),
    }

    
    let fluidParamsArray = {
        fluidColor1Parameter: document.getElementById('fluid_color_1'),
        fluidColor2Parameter: document.getElementById('fluid_color_2'),
        fluidColor3Parameter: document.getElementById('fluid_color_3'),
        fluidColor4Parameter: document.getElementById('fluid_color_4'),
        fluidColor5Parameter: document.getElementById('fluid_color_5'),
        fluidHueRotateParameter: document.getElementById('fluid_hue_rotate'),
        fluidGrayscaleParameter: document.getElementById('fluid_grayscale'),
        fluidBrightnessParameter: document.getElementById('fluid_brightness'),
        fluidBlurParameter: document.getElementById('fluid_blur'),
        fluidOpacityParameter: document.getElementById('fluid_opacity'),
        fluidInvertParameter: document.getElementById('fluid_invert'),
    }


    let fluidParamsText = {
        fluidColor1Parameter: document.getElementById('fluid_color_1_label'),
        fluidColor2Parameter: document.getElementById('fluid_color_2_label'),
        fluidColor3Parameter: document.getElementById('fluid_color_3_label'),
        fluidColor4Parameter: document.getElementById('fluid_color_4_label'),
        fluidColor5Parameter: document.getElementById('fluid_color_5_label'),
        fluidHueRotateParameter: document.getElementById('fluid_hue_rotate_label'),
        fluidGrayscaleParameter: document.getElementById('fluid_grayscale_label'),
        fluidBrightnessParameter: document.getElementById('fluid_brightness_label'),
        fluidBlurParameter: document.getElementById('fluid_blur_label'),
        fluidOpacityParameter: document.getElementById('fluid_opacity_label'),
        fluidInvertParameter: document.getElementById('fluid_invert_label'),
    }   
    
    

    // EDITING MODE LISTENERS
    editMode1.addEventListener('click', (evt) => {
          for (let key in fluidParamsArray) {
            fluidParamsArray[key].classList.add('d-block');
            fluidParamsArray[key].classList.remove('d-none');
            fluidParamsText[key].classList.add('d-block');
            fluidParamsText[key].classList.remove('d-none');
          }

          for (let key in windowParamsArray) {
            windowParamsArray[key].classList.add('d-none');
            windowParamsArray[key].classList.remove('d-block');
            windowsParamsText[key].classList.add('d-none');
            windowsParamsText[key].classList.remove('d-block');
          }

          showWorkArea.classList.add('d-none');
          showWorkArea.classList.remove('d-block');
          navbarContainer.classList.add('d-none');
          navbarContainer.classList.remove('d-block');
    })

    editMode2.addEventListener('click', (evt) => {
          for (let key in fluidParamsArray) {
            fluidParamsArray[key].classList.add('d-none');
            fluidParamsArray[key].classList.remove('d-block');
            fluidParamsText[key].classList.add('d-none');
            fluidParamsText[key].classList.remove('d-block');
            
          }

          for (let key in windowParamsArray) {
            windowParamsArray[key].classList.add('d-block');
            windowParamsArray[key].classList.remove('d-none');
            windowsParamsText[key].classList.add('d-block');
            windowsParamsText[key].classList.remove('d-none');
          }

          showWorkArea.classList.add('d-block')
          showWorkArea.classList.remove('d-none')
          navbarContainer.classList.add('d-block')
          navbarContainer.classList.remove('d-none')
    })

 

    // INITIALIZES SLIDERS TO VALUES STORED IN DATABASE
    function slidersInit(){
      for (let key in windowParamsArray){
        let param = windowParamsArray[key];
        let valuesKey = `${key}`.replace('Parameter', '');
        
        param.value = valuesObj[valuesKey];
        }
      
      for (let key in fluidParamsArray){
        let param = fluidParamsArray[key];
        let valuesKey = `${key}`.replace('Parameter', '');
        
        param.value = valuesObj[valuesKey];
        }

        for (let key in fluidParamsArray) {
          fluidParamsArray[key].classList.add('d-block');
          fluidParamsArray[key].classList.remove('d-none');
          fluidParamsText[key].classList.add('d-block');
          fluidParamsText[key].classList.remove('d-none');
        }
        for (let key in windowParamsArray) {
          windowParamsArray[key].classList.add('d-none');
          windowParamsArray[key].classList.remove('d-block');
          windowsParamsText[key].classList.add('d-none');
          windowsParamsText[key].classList.remove('d-block');
        }

        // ADDS 'CHANGE' EVENT LISTENER TO EACH PARAM AND UPDATES APPEARANCE
        for (let key in fluidParamsArray){
          if (key !== 'fluidInvertParameter') {
            let param = fluidParamsArray[key];

            param.addEventListener('change', (evt) => {
              console.log(`Parameter: ${param.id}       Value: ${param.value}`);
              
              let valuesKey = `${key}`.replace('Parameter', '');
              valuesObj[valuesKey] = param.value;
          
              updateAppearance()
            })
          }
      }

        for (let key in windowParamsArray){
            let param = windowParamsArray[key];

            param.addEventListener('change', (evt) => {
                console.log(`Parameter: ${param.id}       Value: ${param.value}`);

                let valuesKey = `${key}`.replace('Parameter', '');
                valuesObj[valuesKey] = param.value;
            
                updateAppearance()
          })
        }

        fluidParamsArray.fluidInvertParameter.addEventListener('change', (evt) => {  
              if (fluidParamsArray.fluidInvertParameter.value === 'False') {
                valuesObj.fluidInvert = 'True';
                fluidParamsArray.fluidInvertParameter.value = 'True';
              } else if (fluidParamsArray.fluidInvertParameter.value === 'True'){
                valuesObj.fluidInvert = 'False';
                fluidParamsArray.fluidInvertParameter.value = 'False';
              }
  
              updateAppearance()
            })

        defaultButton.addEventListener('click', evt => {
          evt.preventDefault();
          resetToDefault();
        })
    }

    function updateAppearance(){
      editPanelContainer.style.backgroundColor = `${valuesObj.backgroundColor}14`;
      document.body.style.setProperty('--containerBackgroundColor', `${valuesObj.backgroundColor}14`);
      document.body.style.setProperty('--backdropBlur', `blur(${valuesObj.backgroundBlur}px)`);
      document.body.style.setProperty('--inset1', `groove 5px ${valuesObj.insetColor}33`);
      document.body.style.setProperty('--inset1sm', `groove 4px ${valuesObj.insetColor}33`);
      document.body.style.setProperty('--soundcloudColor', `${valuesObj.soundcloudColor}deg`);
      document.body.style.setProperty('--accentColor', `${valuesObj.accentColor}69`);
      document.body.style.setProperty('--accentColorText', `${valuesObj.accentColor}`);
      
      let invertValue;

      if (valuesObj.fluidInvert === 'True') {
        invertValue = '100%';
        } else if (valuesObj.fluidInvert === 'False') {
          invertValue = '0%';
        }

      fluidSim.style.filter=`
            drop-shadow(9px 9px ${valuesObj.fluidColor1}) 
            drop-shadow(27px 18px ${valuesObj.fluidColor2}) 
            drop-shadow(-9px 27px ${valuesObj.fluidColor3}) 
            drop-shadow(-27px 36px ${valuesObj.fluidColor4}) 
            drop-shadow(0px 45px ${valuesObj.fluidColor5}) 
            hue-rotate(${valuesObj.fluidHueRotate}deg) 
            grayscale(${valuesObj.fluidGrayscale}%) 
            brightness(${valuesObj.fluidBrightness}%) 
            blur(${valuesObj.fluidBlur}px) 
            opacity(${valuesObj.fluidOpacity}%)
            invert(${invertValue})
            `
    }





    function resetToDefault(){
        let defaultVals = {
            backgroundColor: '#c8c4ff',
            backgroundBlur: '6',
            insetColor: '#273053',
            soundcloudColor: '50',
            accentColor: '#6d72ff',
            fluidColor1: '#ff803c',
            fluidColor2: '#ff008c',
            fluidColor3: '#ff9b19',
            fluidColor4: '#62ff72',
            fluidColor5: '#ff2243',
            fluidHueRotate: '250',
            fluidGrayscale: '60',
            fluidBrightness: '140',
            fluidBlur: '5',
            fluidOpacity: '70',
            fluidInvert: '0%'
        }

      for (let key in defaultVals){
        valuesObj[key] = defaultVals[key];
      }

      for (let key in windowParamsArray){
        let param = windowParamsArray[key];
        let valuesKey = `${key}`.replace('Parameter', '');
        
        param.value = valuesObj[valuesKey];
      }
    
      for (let key in fluidParamsArray){
        let param = fluidParamsArray[key];
        let valuesKey = `${key}`.replace('Parameter', '');
        
        param.value = valuesObj[valuesKey];
      }

      editPanelContainer.style.backgroundColor = `${valuesObj.backgroundColor}14`;
      document.body.style.setProperty('--containerBackgroundColor', `${valuesObj.backgroundColor}14`);
      document.body.style.setProperty('--backdropBlur', `blur(${valuesObj.backgroundBlur}px)`);
      document.body.style.setProperty('--inset1', `groove 5px ${valuesObj.insetColor}33`);
      document.body.style.setProperty('--inset1sm', `groove 4px ${valuesObj.insetColor}33`);
      document.body.style.setProperty('--soundcloudColor', `${valuesObj.soundcloudColor}deg`);
      document.body.style.setProperty('--accentColor', `${valuesObj.accentColor}69`);
      document.body.style.setProperty('--accentColorText', `${valuesObj.accentColor}`);
      

      fluidSim.style.filter=`
            drop-shadow(9px 9px ${valuesObj.fluidColor1}) 
            drop-shadow(27px 18px ${valuesObj.fluidColor2}) 
            drop-shadow(-9px 27px ${valuesObj.fluidColor3}) 
            drop-shadow(-27px 36px ${valuesObj.fluidColor4}) 
            drop-shadow(0px 45px ${valuesObj.fluidColor5}) 
            hue-rotate(${valuesObj.fluidHueRotate}deg) 
            grayscale(${valuesObj.fluidGrayscale}%) 
            brightness(${valuesObj.fluidBrightness}%) 
            blur(${valuesObj.fluidBlur}px) 
            opacity(${valuesObj.fluidOpacity}%)
            invert(${valuesObj.fluidInvert})
            `
    }


    // // // // // // // // // INITIALIZE // // // // // // // // // 
    document.addEventListener('DOMContentLoaded', (evt) => {
        console.log('DONE')
        document.getElementById('editPanelContainer').style.backgroundColor = `${valuesObj.backgroundColor}`
        slidersInit();
        updateAppearance();
    })
</script>
</div>
{% endblock %}