{% extends 'base.html' %}
{% block content %}

<!-- Individual Works -->
<div class="" id="showWorkArea">
{% for work in works %}
    <div class="show-work-container d-none" id="display-{{ work.id }}">
        <div class="d-flex show-work-flex-container">
            <div class="p-5 mr-auto work-text-container ">
                            <!-- WORK HEADER -->
                <div class="p-1"><h2 class="text-center text-highlight-1">{{ work.title }}</h3></div>
                <div class="p-2"><h4 class="text-center text-highlight-1">{{ work.medium }}, {{ work.year }}</p></div>
                            <!-- WORK DESCRIPTION -->
                <p class="fs-5 text-highlight-1">{{ work.description1 }}</p>
                             <!-- SOUNDCLOUD EMBED -->
                {% if work.soundcloud_track_id %}
                {% if work.soundcloud_header %}
                <div class="p-2 text-highlight-1">
                    <h4 class="text-center">{{ work.soundcloud_header }}</h3>
                </div>
                {% endif %}
                <div class="p-2 embed-responsive soundcloud-container mx-auto">
                    <iframe class="embed-responsive-item ml-auto d-block soundcloud-player" width="60%" height="140" scrolling="no" frameborder="yes" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ work.soundcloud_track_id }}&color=%23FF00FF&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=false&visual=false"></iframe>
                    <!-- <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                    <a href="https://soundcloud.com/will-bertrand" title="leah bertrand" target="_blank" style="color: #cccccc; text-decoration: none;">leah bertrand</a> · <a href="https://soundcloud.com/will-bertrand/almost-an-ocean-stereo-mix" title="Almost An Ocean (Stereo Mix)" target="_blank" style="color: #cccccc; text-decoration: none;">Almost An Ocean (Stereo Mix)</a></div> -->
                </div>
                {% endif %}
            </div>
                            <!-- WORK IMAGES -->            
            <div class="p-2 ml-auto show-work-img-container ">
                            <!-- WORK LEAD IMAGE -->            
                <div class="p-2"><img class="show-work-img {{work.img_filter}}" src="{{work.image1}}" alt=""></div>
                            <!-- WORK OPTIONAL IMAGES -->
                {% if work.image2 %}
                <div class="p-2"><img class="show-work-img {{work.img_filter}}" src="{{work.image2}}" alt=""></div>
                {% endif %}
                
                {% if work.image3 %}
                <div class="p-2"><img class="show-work-img {{work.img_filter}}" src="{{work.image3}}" alt=""></div>
                {% endif %}
                
                {% if work.image4 %}
                <div class="p-2"><img class="show-work-img {{work.img_filter}}" src="{{work.image4}}" alt=""></div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript" src="/static/js/navigation.js"></script>
{% endblock %}

